.nav {
	width: 100%;
	height: 80px;
	box-shadow: 0 3px 3px 0 #CCC;
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	transition: 0.3s;
}
.containerok {
	margin: 0 auto;
	width: 100%;
}
.nav.index {
	/* background: rgba(255, 255, 255 ,0.8); */
	box-shadow: 0 0 0 0 rgba(0,0,0,0.05);
}
.nav.scroll {
	/* background: #FFF; */
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.05);
	transition: 0.3s
}
.nav .containerok {
	position: relative;
	transition: all 400ms ease-out;
}
.nav .nav-logo {
	height: 100%;
	position: absolute;
	top: 0;
	line-height: 75px;
}
.nav .nav-list {
	display: inline-block;
	height: 80px;
}
.nav .nav-list button {
	width: 25px;
	height: 30px;
	position: absolute;
	top: 30px;
	right: 15px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.nav .nav-list button span {
	display: block;
	width: 25px;
	height: 2px;
	background: #2db5a3;
	margin-bottom: 6px;
	transition: 0.5s;
}
.nav .nav-list button span.spa1 {
	transform: rotate(45deg);
}
.nav .nav-list button span.spa3 {
	transform: rotate(-45deg) translate(5px, -5px);
}
.nav .layui-nav {
	width: 100%;
	position: absolute;
	top: 80px;
	right: 0;
	color: #000000;
	background: transparent;
}
.nav .layui-nav .layui-nav-item {
	display: block;
	line-height: 60px;
}
.nav .layui-nav * {
	font-size: 18px;
}
.nav .layui-nav .layui-nav-item a {
	padding: 0 0;
	color: #000000;
}
.nav .layui-nav-bar, .nav .layui-nav .layui-this::after {
	height: 0px;
	width: 0;
}
.nav .layui-nav-item a:hover {
	color: #007bff!important;
}
.nav-line {
	display: inline-block;
	width: 1px;
	height: 50px;
	line-height: 30px;
	background: #d3d3d3;
	vertical-align: middle;
}
.line1, .line2,.line3,.line4,.line5{
	width:0%;/*宽度*/
	height:3px;/*高度*/
	border-radius:5px;/*圆角*/
	background-color: #007bff;
	margin:0 auto;
	align-content: center;/*内容居中*/
	transition:width 0.5s linear;/*transition:<过渡属性名称> <过渡时间> <过渡模式>
									模式1.ease 逐渐变慢
									2.linear 匀速
									3.ease-in 缓慢开始（加速）
									4.ease-out 缓慢结束（减速）
									5.ease-in-out 缓慢开始，缓慢结束（先加速后减速）
									6.cubic-bezier 贝塞尔曲线（matthewlein.com/ceaser）*/
}
.navitem1:hover .line1,.navitem2:hover .line2,.navitem3:hover .line3,.navitem4:hover .line4,.navitem5:hover .line5{
	width:100%;
}

@media (max-width:413px) {    /* 屏幕小于413px时缩小logo */
	.logoimg {
		width: 85%;
	}
	.nav {
		overflow: hidden;
	}
}
@media (max-width:949px) {   
	.nav {
		overflow: hidden;
		border-bottom: #007bff 2px solid;
	}
	.twoNav {
		font-size: 12px;
		padding-left: 20px;
	}
	.twoNavTitle {
		display: none;
	}
	.twoNav p {
		display: none;
	}
}
@media screen and (min-width: 950px) {
	.nav {
		max-height: 80px;
	}
	.nav.index {
		/* background: rgba(255, 255, 255 ,0.3); */
	}
	.nav .nav-list button {
		display: none;
	}
	.nav .layui-nav {
		width: auto;
		position: absolute;
		top: 0;
		padding: 0 5px;
		border-radius: 0;
		margin: 0;
	}
	.nav .layui-nav .layui-nav-item {
		display: inline-block;
		margin: 0 53px;
		line-height: 75px;
	}
	.showTwoNav {
		position: relative;
	}
	.twoNav {
		min-width: 400px;
		min-height: 120px;
		position: absolute;
		z-index: 999;
		background-color: rgba(255, 255, 255, 0.9);
		color: #000000;
		border-radius: 5px;
		box-shadow: 3px 3px 5px 3px #666666;
		display: none;
		top: 80px;
		left: -184px;
		padding: 0 10px 10px 10px;
	}
	.showTwoNav:hover .twoNav {
		display: block;
	}
	.twoNav::before {
		content: "";
		width: 0px;
		height: 0px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgba(255, 255, 255, 1);
		position: absolute;
		top: -10px;
		left: 50%;
	}
	.twoNavTitle {
		color: #555555;
		font-size: 15px !important;
		height: 60px;
		border-bottom: 1px #B2B2B2 solid;
	}
	.twoNav1,.twoNav2 {
		width: 47%;
		display: inline-block;
		vertical-align: top;
		padding: 0 1% 0 1%;
	}
	.twoNav p {
		font-size: 12px !important;
		color: #555555; 
		line-height: 20px;
	}
}
@media screen and (min-width: 1280px) {
	.nav {
		max-height: 80px;
	}
	.nav.index {
		/* background: rgba(255, 255, 255 ,0.3); */
	}
	.nav .nav-list button {
		display: none;
	}
	.nav .layui-nav {
		width: auto;
		position: absolute;
		top: 0;
		padding: 0 5px;
		border-radius: 0;
		margin: 0;
	}
	.nav .nav-logo {
		left: 5%;
	}
	.nav .layui-nav .layui-nav-item {
		display: inline-block;
		margin: 0 53px;
		line-height: 75px;
	}
	.showTwoNav {
		position: relative;
	}
	.twoNav {
		min-width: 400px;
		min-height: 120px;
		position: absolute;
		z-index: 999;
		background-color: rgba(255, 255, 255, 0.9);
		color: #000000;
		border-radius: 5px;
		box-shadow: 3px 3px 5px 3px #666666;
		display: none;
		top: 80px;
		left: -184px;
		padding: 0 10px 10px 10px;
	}
	.showTwoNav:hover .twoNav {
		display: block;
	}
	.twoNav::before {
		content: "";
		width: 0px;
		height: 0px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgba(255, 255, 255, 1);
		position: absolute;
		top: -10px;
		left: 50%;
	}
	.twoNavTitle {
		color: #555555;
		font-size: 15px !important;
		height: 60px;
		border-bottom: 1px #B2B2B2 solid;
	}
	.twoNav1,.twoNav2 {
		width: 47%;
		display: inline-block;
		vertical-align: top;
		padding: 0 1% 0 1%;
	}
	.twoNav p {
		font-size: 12px !important;
		color: #555555; 
		line-height: 20px;
	}
	
	.nav-button1 {
		display: block; 
		height: 34px; 
		width: 77px; 
		line-height: 2; 
		border-radius: 4px;
		text-align: center; 
		font-size: 14px; 
		text-decoration: none; 
		padding-top: 3px;
		border: #007bff 1px solid;
		color: #007bff !important;
	}
	.nav-button2 {
		display: block; 
		height: 34px; 
		width: 107px; 
		line-height: 2; 
		border-radius: 4px;
		text-align: center; 
		font-size: 14px; 
		text-decoration: none; 
		padding-top: 3px;
		background-color: red;
		color: #FFFFFF !important;
		margin-left: 20px;
	}
}
@media (max-width: 1614px) {
	.lastItem {
		display: none !important;
	}
}
@media (max-width: 1279px) {
	.overItem,.nav-line {
		display: none !important;
	}
}
@media (min-width: 950px) {
	.navitem6 {
		display: none !important;
	}
}